<div class="blog-wrapper">
    <div class="btn-container">
        <button class="delete-btn btn">
            <i class="fa-solid fa-pen"></i>
        </button>
        <button class="edit-btn btn">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
    <h1 class="blog-title"><%= title %></h1>
    <form action="read" method="get">
        <input type="hidden" name="blogId" value="<%= id %>" />
        <input type="submit" value="Read More!" class="read-more-btn btn">
    </form>
</div>