<%- include("partials/header.ejs")  %>

<form action="create" method="post">
    <input required name="title" type="text" placeholder="Title...">
    <textarea required name="text" id="" placeholder="Text..." rows="10" cols="60"></textarea>
    <input type="submit" value="Post!">
</form>

</body>
</html>