<%- include("partials/header.ejs")  %>

<header>
    <div class="title-container">
        <div class="container-style"></div>
        <div class="title-text-container">
            <h1 class="title">Blogo</h1>
            <p class="title-subtext">#1 place to chat about random stuff</p>
        </div>
    </div>
</header>

<section class="blog-posts">
    <div class="blog-wrapper">
        <div class="btn-container">
            <button class="delete-btn btn">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button class="edit-btn btn">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <h1 class="blog-title">Why I'm so hungry</h1>
        <button class="read-blog btn">Read more</button>
    </div>
    <%- include("partials/blog post.ejs")  %>
</section>

</body>
</html>