<%- include("partials/header.ejs")  %>

<section class="website-title">
    <div class="container-style"></div>
    <div class="title-container">
        <h1 class="title">Blogo</h1>
        <p class="title-sub-text">#1 place to chat about random stuff</p>
    </div>
</section>

<section class="blog-posts">
    <%- include("partials/blog post.ejs")  %>
</section>

</body>
</html>