<%- include("partials/header.ejs")  %>

<header>
    <div class="title-container">
        <div class="container-style"></div>
        <div class="title-text-container">
            <h1 class="title">Blogo</h1>
            <p class="title-subtext">#1 place to chat about random stuff</p>
        </div>
    </div>
</header>

<section class="blog-posts">
    <%- include("partials/blog post.ejs")  %>
</section>

</body>
</html>