<%- include("partials/header.ejs")  %>

<header>
    <div class="title-container">
        <div class="container-style"></div>
        <div class="title-text-container">
            <h1 class="title">Blogo</h1>
            <p class="title-subtext">#1 place to chat about random stuff</p>
            <form action="create" method="post">
                <button class="create-post-btn btn">Write your blogo!</button>
            </form>
        </div>
    </div>
</header>

<section class="blog-posts">
    <% if(locals.blogs) { %>
        <% for (let i = 0; i < blogs.length; i++) { const blog = blogs[i]; %>
            <%- include("partials/blog post.ejs", { title: blog.title, id: blog.id })  %>
        <% } %>
    <% } else { %>
        <h1>There are currently no posts on blogo :(</h1>
    <% } %>
</section>

</body>
</html>