<%- include("partials/header.ejs")  %>
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/readMore.css">
<title>Blogo</title>
</head>
<body>
<% if(locals.blog) {%>
    <h1><%= blog.title %></h1>
    <div class="content-container">
        <p class="content-text"><%= blog.text %></p>
    </div>
    <form action="/" method="get">
        <input class="btn home-btn" type="submit" value="Home">
    </form>
<% } else {%>
    <h1>Error getting/handling blog post data :(</h1>
<% } %>

</body>
</html>