body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    background-color: #00bf63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Open-sans', sans-serif;
}

p {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 25vh;
    padding-top: 20px;
}

header p {
    font-size: smaller;
}

header h1 {
    font-size: 2.5em;
    margin: 4px;
}

textarea {
    resize: none;
}

.content-text {
    font-family: "Work Sans", sans-serif;
}

.title-container {
    background-color: #f4f4f4;
    border: solid black 2px;
    border-radius: 3px;
    box-shadow: 10px 9px 0px 0px rgba(0,0,0,0.75);
}

.title-text-container {
    margin: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-style {
    height: 20px;
    border-bottom: solid black 3px;
}

.blog-posts {
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-wrapper {
    background-color: #f4f4f4;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 10px 9px 0px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 15px;
    min-width: 250px;
    max-width: 250px;
    min-height: 200px;
    max-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    align-self: flex-end;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.delete-btn, .edit-btn {
    scale: 1.2;
    margin: 5px;
    padding: 4px;
    border: none;
    transition: .5s linear;
    background-color: #f4f4f4;
}

.delete-btn:hover, .edit-btn:hover {
    transition: .5s linear;
    background-color: #dcdbdb;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 10px;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
}