h1, .content-container {
    background-color: whitesmoke;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 6px 7px 0px 0px rgba(0,0,0,0.75);
    width: 80%;
    padding: 10px;
}

p {
    font-size: 1.2em;
}

.content-container {
    min-height: 20vh;
}